<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'todo_app/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'todo_app/style.css' %}">
    <title>{% block title %}base title{% endblock %}</title>
  </head>
  <body>
    <nav title="navigation">
        <a href="{% url 'introduction' %}">intro</a> |
      <a href="{% url 'home' %}">today</a> |
      <a href="{% url 'projects' %}">proj</a> |
      <a href="{% url 'deadlines' %}">due</a> |
      <a href="{% url 'previous_days' 7 %}">prev</a> |
      <a href="{% url 'library' %}">lib</a> |
      <a href="{% url 'archive' %}">arch</a>
    </nav>
    <br>
    {% if messages %}
      <ul class="no_padding">
      {% for message in messages %}
        <li>{{ message.tags.capitalize }}: {{ message }}</li>
      {% endfor %}
    {% else %}
        <li class="black">Info: No messages.</li>
      </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
    </body>
</html>
