<!-- introduction -->
{% extends 'base.html' %}
{% block title %}INTRODUCTION{% endblock %}
{% block content %}
<div class="center">
<h1 class="underline">Introduction</h1>
<p>Welcome to my TO-DO list!</p>
<p>I created this website with Python and Django. It is hosted on Heroku and uses PostgreSQL for the database. This is an example of a CRUD app. Please make an account to use its features. Thank you! (When creating an account, please enter a fake email with a valid signature, ie: fake_email@mail.com)</p>
<br>
<p>--Matt Skovranek</p>
</div>
{% endblock %}
