a,
h1,
h2,
h3,
label,
li,
nav,
p,
td,
th {
  color: #4CBB17;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  text-decoration: none;
}


h2,
h3 {
  font-weight: bold;
  text-decoration: underline;
}

.square_bullet {
  list-style-type: square;
}

a:hover {
  background-color: lime;
  color: #28282B;}

.archive {
  margin: auto;
  text-align: center;
  width: 30%;
}

.black {
  color: #28282B;
  display: inline;
}

body {
  background: #28282B;
  padding: 0 10px 0 10px;
}

.button {
  background-color: #28282B;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
}

.center {text-align: center;}

.delete {
  background-color: inherit;
  border: none;
  color: lime;
  cursor: pointer;
}

.delete:hover {
  background-color: lime;
  color: #28282B;
}

.form{
  background-color: inherit;
  border: none;
  text-align: center;
}

.inline {display: inline;}

input,
select {
  background-color: #28282B;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.input_checkbox {
  margin: 25px;
  padding: 25px;
}

.input_number {
  width: 20%;
}

.no_padding {
  margin: 0;
  padding: 0;
}

.subtask {
  border: none;
  padding: 5px;
  padding-left: 15px;
}

table, 
th {
  border: 1px solid white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
}

td {
  border-top: 1px solid white;
  padding: 15px;
  text-align: left;
}

th {text-decoration: underline;}

ul {list-style-type: none;}

.underline {
  text-decoration: underline;
}
